html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

h1, h2, p {
  margin: 0;
}

.nav__list{
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section-title h2{
  margin: 2rem 0 1rem 0;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}


.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.l-header {
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffc7c7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}



.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  position: relative;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: rgb(227, 85, 132);
}

.nav__logo {
  text-transform: uppercase;
  color: black;
}


.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: rgb(227, 85, 132);
}

.home {
  position: relative;
  row-gap: 1rem;
  padding: 4rem 0 5rem 0;
}

.home__title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.joke__part {
  margin-bottom: 2rem; 
}

.home__title-color {
  color: rgb(227, 85, 132);
}

.home__social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
}
.home__social-icon{
  margin: 0 0 0 0;
  padding-top: 0;
  
  display: flex;
}
.home__social-icon:hover{
  box-shadow: 0px 3px 0px rgb(227, 85, 132);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0rem;
  width: 500px;
  align-items: end;
}

.home__blob {
  fill: pink
}

.home__blob-img {
  width: 360px;
}


.button {
  display: inline-block;
  background-color: rgb(227, 85, 132);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: 600;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}


.about{
  position: relative;
  row-gap: 1rem;
  padding: 4rem 0 5rem 0;
}
.about__content{
  padding-top: 5rem;
  padding-left: 2rem;
}
.about__container {
  row-gap: 2rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.about__subtitle {
  margin-bottom: 1rem;
  justify-self: right;
  position: relative;
}

.about__img {
  justify-self: left;
}

.about__img img {
  width: 450px;
  display: flex;
  flex-direction: column;
  
}

.work{
  position: relative;
  row-gap: 1rem;
  padding: 4rem 0 5rem 0;
}
.work__content{
  padding-top: 5rem;
  padding-left: 2rem;
}
.work__container {
  row-gap: 2rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.work__content {
  margin-bottom: 1rem;
  justify-self: right;
  position: relative;
  margin-right: 15rem;
  align-items: center;
  font-size: large;
}

.work__img {
  justify-self: left;
  transition: transform 0.5s
}

.work__img:hover{
  transform: scale(1.1);
}


.work__img img {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 15rem;
}

.projects__img1{
  width: 30%;
  padding-left: 13rem;
  display: flex;
  padding-top: 2rem;
  
}
.projects__img2{
  width: 30%;
  padding-left: 13rem;
  display: flex;
  padding-bottom: 2rem;
 
}
.projects.content{
  margin-bottom: 2rem;
  position: relative;
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid black;
  outline: none;
  margin-bottom: 2rem;
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
}


.footer {
  background-color: rgb(228, 136, 136);
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer__social {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 0rem;
  
}

.footer__icon {
  margin: 0 0 0 0;
  padding-top: 0;
  display: flex;
  margin: 0 1rem;
  width: 2.5%;
  flex-direction: column;
}

.footer__copy {
  font-size: 0.75rem;
}
.nav__list {
  display: flex;
  padding-top: 0;
}
.nav__item {
  margin-left: 3rem;
  margin-bottom: 0;
}
.nav__link {
  color: black;
